body {
  background-color: sandybrown;
}
h1 {
  text-align: center;
}

#main {
  border: #ff0000 solid 2px;
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
  height: 50px;
  width: 400px;
  padding: 5px;
  margin: 100px;
}

#main2 {
  height: 100px;
  width: 400px;
  border: red 2px solid;
}
#main3 {
  height: 100px;
  width: 400px;
  border: red 2px solid;
}
